.listtodo {
	margin: auto 5rem;
	margin-top: 2.5rem;
	background: #3399ff;
 	padding: 5rem;
 	// width: 100%;
 	text-align: left;
 	list-style: none;
}

.item{
	color:white;
	background-image:  radial-gradient(#3399ff, #335dff);	
	width: 100%;
	margin: auto 1.5rem;
	margin-top: 1.5rem;
	font-size: 2.5rem;
}

.delete {
	cursor: pointer;
	float: right;
}