.message {
	font-size: 18px;
	margin: auto 20px;
	margin-top: 15px;
	padding: 10px 25px; 
}

.success {
	color: #0f0;
	background-color: green;
}

.danger {
	color: #933;
	background-color: #ff5050;
}

.loading {
	color: white;
	background-color: black;
}